## **Problem 1**

In [ ]:
a = int(input("Input any number please: "))
if a % 3 == 0 and a % 5 == 0:
  print("Yes")
else:
  print("No")

No

## **Problem 2**

In [ ]:
a = int(input())
if a <0 :
  print("a is neg")
elif a>0:
  print(" a is pos")
else:
  print("0")

 a is pos

## **Problem 3**

In [ ]:
a = int(input("Input any number please: "))

if a % 2 == 0:
  print("even number ")
else:
  print("Odd number")

Odd number

## **Problem 4**

In [ ]:
a = input("Input a character please: ")

if a >= 'a' and a <= 'z':
  print("lower")
elif a >= 'A' and a <= 'Z':
  print("higher")
else:
  print("nothing")

nothing

## **Problem 5**

In [ ]:
a = input("Please input a character: ")

if a >= 'a' and a <= 'z' or a >= 'A' and a <= 'Z':
  if a in 'aeiouAEIOU':
    print("Vowel!!!!")
  else:
    print("Consonant...")
else:
  print("This is not a character :(")

This is not a character :(

## **Problem 6**

In [ ]:
a = int(input("Please input your a: "))
b = a
temp = a//1000
print(temp, '1000 Taka note(s).')
if temp > 0:
    a = a%1000
    b = a #b changed
else:
    a = b #existing a
temp = a//500
print(temp, '500 Taka note(s).')
if temp > 0:
    a = a%500
    b = a
else:
    a = b
temp = a // 200
print(temp, '200 Taka note(s).')
if temp > 0:
    a = a%200
    b = a
else:
    a = b
temp = a//100
print(temp, '100 Taka note(s).')
if temp > 0:
    a = a%100
    b = a
else:
    a = b
temp = a//50
print(temp, '50 Taka note(s).')
if temp > 0:
    a = a%50
    b = a
else:
    a = b
temp = a//20
print(temp, '20 Taka note(s).')
if temp > 0:
    a = a%20
    b = a
else:
    a = b
temp = a//10
print(temp, '10 Taka note(s).')
if temp > 0:
    a = a%10
    b = a
else:
    a = b
temp = a//5
print(temp, '5 Taka note(s).')
if temp > 0:
    a = a%5
    b = a
else:
    a = b
temp = a//2
print(temp, '2 Taka note(s).')
if temp > 0:
    a = a%2
    b = a
else:
    a = b
temp = a//1
print(temp, '1 Taka note(s).')

Please input your a: 450
0 1000 Taka note(s).
0 500 Taka note(s).
2 200 Taka note(s).
0 100 Taka note(s).
1 50 Taka note(s).
0 20 Taka note(s).
0 10 Taka note(s).
0 5 Taka note(s).
0 2 Taka note(s).
0 1 Taka note(s).

In [ ]:
200//1000

0

In [ ]:
500 //1000

0

In [ ]:
50//200

0

In [ ]:
1%10

1

In [ ]:
1//10

0

[link text](https://)## **Problem Conditional Excercise**

## **# Leap year**

In [ ]:
x = int(input("Enter your Birth year please: "))
result = ["Leap year!" if x%400 == 0 or x%4 == 0 and x % 100 != 0 else "Non Leap Year!"]
print(result)

Enter your Birth year please: 1998
['Non Leap Year!']

In [ ]:
x = int(input("Enter your Birth year please: "))
if (x%4 == 0 and x % 100 != 0 or x%400 == 0):
  print("Leap year!")
else:
  print("Non leap year!")

Enter your Birth year please: 1000
Non leap year!

# Loop

#Practice

In [ ]:
n = 1
temp = 0
while n <= 100:
    temp = temp + n
    n = n + 1
print(temp)

5050

In [ ]:
n = 100
temp = n*(n+1)/2
print(temp)

5050.0

In [ ]:
n = 1
temp = 0
while n <= 97:
    temp = temp + n
    n = n + 2
print(temp)

2401

In [ ]:
a = ['onion', 'potato', 'ginger', 'cucumber']
print(type(a))
for item in a:
    print(item)

<class 'list'>
onion
potato
ginger
cucumber

In [ ]:
a = {'name' : 'MD. Maksudur Rahman Khan', 'nickname' : 'Maateen', 'email' : 'maateen@outlook.com', 'phone' : '01711223344'}
print(a)
print(type(a))
for item in a:
    print(item)

{'name': 'MD. Maksudur Rahman Khan', 'nickname': 'Maateen', 'email': 'maateen@outlook.com', 'phone': '01711223344'}
<class 'dict'>
name
nickname
email
phone

In [ ]:
a = "python"
for i in a:
  print(i)

p
y
t
h
o
n

In [ ]:
for i in range(0,11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#Break 
for number in range(1, 11):
    if number == 5:
        break
    print(number)

1
2
3
4

In [ ]:
#continue
for number in range(1, 11):
    if number == 5:
        continue
    print(number)

1
2
3
4
6
7
8
9
10

In [ ]:
#pass
for i in range(1,11):
  if i == 5: 
    pass
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#else in while
n = 1
while n <= 10:
  print(n)
  n = n + 1
else:
  print("Everything is done!!!")

1
2
3
4
5
6
7
8
9
10
Everything is done!!!

In [ ]:
for n in range(0, 11):
    print(n)
    n = n + 1
else:
    print('The loop is over.')

0
1
2
3
4
5
6
7
8
9
10
The loop is over.

In [ ]:
# i = 1
# while i > 0:
#     i += 1
#     print(i)

#Problem 1

In [ ]:
n = int(input("Please inpyt a digit: "))
i = 1
while i <= 10: 
  s = n * i
  print(n,"X",i,"=",s )
  i = i + 1

Please inpyt a digit: 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

#Problem 2

In [ ]:
list_arr = []
for i in range(1,101):
  if i%3 == 0 and i%5 != 0:
    list_arr.append(i)
print(list_arr)

[3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99]

#Problem 3

In [ ]:
a = [13, 34, 19, 28, 46, 61, 73, 49, 1, 31, 4, 7, 91, 58, 52, 82, 70, 43, 88, 55, 97, 16, 22, 25, 79, 85, 40, 64, 94, 67, 37]
my_list= []

for i in a:
  if i < 50:
    my_list.append(i)
    
print(my_list)

[13, 34, 19, 28, 46, 49, 1, 31, 4, 7, 43, 16, 22, 25, 40, 37]

#Problem 4

In [ ]:
a = [40, 45, 33, 34, 8, 38, 28, 22, 1, 7, 49, 41, 14, 5, 22, 39, 15, 19, 36, 37, 43, 2, 5, 42, 46, 48, 49, 12, 48, 37, 8, 20, 30, 20, 4, 37, 27, 29, 7, 44, 15, 32, 35, 10, 28, 18, 2, 15, 36, 38]
my_list = []
for i in a:
  if i not in my_list:
    my_list.append(i)
print(my_list)

[40, 45, 33, 34, 8, 38, 28, 22, 1, 7, 49, 41, 14, 5, 39, 15, 19, 36, 37, 43, 2, 42, 46, 48, 12, 20, 30, 4, 27, 29, 44, 32, 35, 10, 18]

#Problem 5

In [ ]:
n = int(input("please input a number: "))
i = 1
while i >= n:
    print("*")
    i =+ 1

please input a number: 4

#Problem 6

In [ ]:
n = int(input('Please, input the number: '))
temp = n

while n > 0:
    i = temp
    while i > 0:
        print('*', end='')
        i -= 1
    print()
    n -= 1

Please, input the number: 7
*******
*******
*******
*******
*******
*******
*******

In [ ]:
n= int(input('enter * amount: '))
temp = n
while n > 0:
  i = temp
  
  while i > 0:
    print(" *", end= "")
    i -= 1

  print()
  n -= 1

enter * amount: 4
 * * * *
 * * * *
 * * * *
 * * * *

In [ ]:
n = int(input("Please Enter any Side of a Square  : "))
i=0
while i < n:
    j=0
    while j < n:  
        print('*', end = '  ')    
        j = j + 1
        
    print('')
    i = i + 1

Please Enter any Side of a Square  : 5
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *

In [ ]:
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1

Enter number of rows : 5
*
* *
* * *
* * * *
* * * * *

In [ ]:
 n = int(input('Please, input the number: '))

for i in range(0, n):
     
        # inner loop to handle number of columns
        # values changing acc. to outer loop
        for j in range(0, i+1):
         
            # printing stars
            print("* ",end="")
      
        # ending line after each row
        print()

Please, input the number: 5
*
* *
* * *
* * * *
* * * * *

In [ ]:
n = int(input('Please, input the number: '))

for i in range(0, n):
        for j in range(0, i+1):
            print("* ",end="")
      
        print()

Please, input the number: 4
*
* *
* * *
* * * *

#Problem 6

In [ ]:
w = input()
w = w.casefold()
r = w[::-1]

if w == r:
  print("Its palindrome!")
else: 
  print("Its not ! ")

naan
Its palindrome!

#Problem 7

In [ ]:
list = [1, 3, 5, 7, 11, 13, 15, 17, 20, 26, 31, 44, 54, 56, 65, 77, 94, 100]

n = int(input("enter number: "))
count = 1

for i in list:
  
  if n == i: 
    # print("found it",i)
    print("Found it position number : ",count)

  elif n not in list:
    print("not found")
    break
  
  else:
    pass 

  count += 1

enter number: 5
Found it position number :  3

In [ ]:
my_list = [1, 3, 5, 7, 11, 13, 15, 17, 20, 26, 31, 44, 54, 56, 65, 77, 94, 100]

number = int(input('Input the number:'))

first = 0
last = len(my_list)-1
found = False
cycle = 0

while first <= last and not found:
    midpoint = (first + last)//2
    if my_list[midpoint] == number:
        found =True
    else:
        if number < my_list[midpoint]:
            last = midpoint-1
        else:
            first = midpoint+1
    cycle +=1


print('Found after', cycle, 'cycle.')

Input the number:3
Found after 3 cycle.

#comprehension

In [ ]:
lst = [1,2,3,4,5,6,7]
first_com = [i**2 for i in lst if i % 2 == 0]
print(first_com)

[4, 16, 36]

# function

In [ ]:
def add(**kwargs):
    print(type(kwargs))
    tmp = 0
    for key in kwargs:
        tmp = tmp + kwargs[key]
    return tmp
temp = add(a=1, b=2, c=3, d=4)
print(temp)

<class 'dict'>
10

In [ ]:
# def counter(num):
#     print(num)
#     num += 1
#     counter(num)

# counter(1)

In [ ]:
#Factorial 

print('Please input your number:')
number = int(input())
temp = number

while number > 1:
    number -= 1
    temp = temp*number

if temp == 0:
    print(1)
else:
    print(temp)

Please input your number:
5
120

In [ ]:
def factorial(number):
    if number == 0:
        return 1
    else:
        return number * factorial(number - 1)

print('Please input your number:')
number = int(input())
print(factorial(number))

Please input your number:
0
1

In [ ]:
#lambda_function
def my_function(func, arg1, arg2):
    return func(arg1, arg2)

print(my_function(lambda a, b : a + b , 10, 20))

30

In [ ]:
#Map
my_list = [2, 3, 4, 5, 6, 7]

def square(x):
    return x * x

new_list = map(square, my_list)
print(new_list)
print(list(new_list))

<map object at 0x7efc1b69c590>
[4, 9, 16, 25, 36, 49]

In [ ]:
#Filter
my_list = [2, 3, 4, 5, 6, 7]

def is_even(x):
    if (x % 2) == 0:
        return True
    else:
        return False

new_list = filter(is_even, my_list)
print(new_list)
print(list(new_list))

<filter object at 0x7efc1842d5d0>
[2, 4, 6]

#Function

#Problem 1

In [ ]:
def greater(a,b,c):
  if a >= b and a >= c:
    greatest = a
  elif b >= a and b >= a:
    greatest = b
  else:
    greatest = c 
  return greatest
a,b,c = map(int,input("please input 3 integers: ").split())
print(greater(a,b,c))

please input 3 integers: 90 28 90
90

#Problem 2

In [ ]:
def gcdcal(a,b):
  if b > a:
    gcdcal(b,a)
  while b != 0:
     temp = a % b
     a = b
     b = temp 
  return a

a , b = map(int, input("Enter 2 number for getting GCD: ").split())
print(gcdcal(a,b))

Enter 2 number for getting GCD: 30 40
10

#Problem 3def

In [ ]:
def gcd(a,b):
  if b > a:
    gcd(b,a)
  while b != 0:
    temp = a % b
    a = b
    b = temp
  return a 

def lcm(a,b):
  return (a*b) // gcd(a,b) 

a, b = map(int, input("Enter 2 Number please: ").split())
print(lcm(a,b))

Enter 2 Number please: 18 12
36

#Problem 4

In [ ]:
def is_prime(n):
    if n <= 1:
        raise ValueError('The number must be greater than 1.')
    elif n <= 3:
        return True
    elif (n % 2) == 0 or (n % 3) == 0:
        return False
    else:
        i = 5
        while (i * i) <= n:
            if (n % i) == 0 or (n % i+2) == 0:
                return False
            i = i + 6
        return True

number = int(input('Please input your number: '))

if is_prime(number):
    print(number, 'is a prime number.')
else:
    print(number, 'is a composite number.')

Please input your number: 223
223 is a prime number.

In [ ]:
number = int(input("enter a number: "))
sqrt = number ** 0.5
print("square root:", sqrt)

enter a number: 132
square root: 11.489125293076057

In [ ]:
223% 13

2

In [ ]:
17 * 17

289

In [ ]:
def onetohun():
  i = 0
  while i < 100:
    i += 1
    print(i)
onetohun()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
def numb():
  x,y = 1000, 100
   
  if(x<y):
    return "X is Less than Y"

  elif(x==y):
    return "X is equal to Y"

  else:
    return "X is greater than Y"

numb()

'X is greater than Y'

In [ ]:
class revrange:

    def __init__(self, n):
        self.n = n
        self.i = n

    def __iter__(self):
        return self

    def __next__(self):
        if self.n >= 0:
            if self.i == self.n:
                self.n = self.n - 1
                return self.i
            else:
                self.i = self.n
                self.n = self.n - 1
                return self.i
        else:
            raise StopIteration

for temp in revrange(20):
    print(temp)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
class MyClass:
    """A custom class for nothing"""

    def __init__(self, var):
        self.var = var

    def __del__(self):
        del self.var

    def __gt__(self, other):
        return len(other) > len(self.var)

    def __lt__(self, other):
        return len(other) < len(self.var)

    def __ge__(self, other):
        return len(other) >= len(self.var)

    def __le__(self, other):
        return len(other) <= len(self.var)

In [ ]:
pip install

In [ ]:
from datetime import date
date.today()

datetime.date(2021, 10, 16)